 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/image4.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 489px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px -72px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 54px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 39px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 39px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 941px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  width: 320px;
  margin: 175px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  width: 320px;
  margin: 18px 410px 0;
}

.u-section-2 .u-line-1 {
  width: 879px;
  transform-origin: left center;
  margin: 26px 131px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 879px;
  margin: 0 auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 521px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-image-1 {
  width: 323px;
  height: 461px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 464px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 310px;
    margin-right: 310px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-image-1 {
    width: 302px;
    height: 431px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 110px;
    margin-right: 110px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 271px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 849px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 353px;
  background-image: url("images/image7.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 44px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 414px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 22px auto 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 2.2;
  font-size: 1rem;
  margin: 36px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 327px;
  background-image: url("images/image8.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 341px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-2 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 446px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 311px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 211px;
  }

  .u-section-3 .u-image-2 {
    min-height: 196px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 849px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 27px 0 60px;
}

.u-section-4 .u-image-1 {
  min-height: 353px;
  background-image: url("images/image9.png");
  background-position: 50% 0%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 63px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 414px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 89px auto 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 2.2;
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 327px;
  background-image: url("images/image10.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 291px;
  }

  .u-section-4 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 341px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 446px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 311px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 211px;
  }

  .u-section-4 .u-image-2 {
    min-height: 196px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 849px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-5 .u-image-1 {
  min-height: 353px;
  background-image: url("images/image11.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 63px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 414px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 89px auto 0 0;
}

.u-section-5 .u-text-4 {
  line-height: 2.2;
  font-size: 1rem;
  margin: 29px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 327px;
  background-image: url("images/image12.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 291px;
  }

  .u-section-5 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 341px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-image-2 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 446px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 335px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 311px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 211px;
  }

  .u-section-5 .u-image-2 {
    min-height: 196px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 305px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 30px 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 245px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 563px;
}

.u-section-7 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 707px;
  height: auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 78px;
}

.u-section-7 .u-text-1 {
  margin: 129px 0 0 451px;
}

.u-section-7 .u-image-1 {
  width: 319px;
  height: 455px;
  margin: -19px auto 0 81px;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  margin: -429px 0 0 451px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 78px;
}

.u-section-7 .u-text-3 {
  margin: 129px 0 0 451px;
}

.u-section-7 .u-image-2 {
  width: 319px;
  height: 455px;
  margin: -62px auto 0 81px;
}

.u-section-7 .u-text-4 {
  line-height: 2;
  margin: -386px 0 0 451px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 78px;
}

.u-section-7 .u-text-5 {
  margin: 129px 0 0 451px;
}

.u-section-7 .u-image-3 {
  width: 319px;
  height: 455px;
  margin: -62px auto 0 81px;
}

.u-section-7 .u-text-6 {
  line-height: 2;
  margin: -386px 0 0 451px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 78px;
}

.u-section-7 .u-text-7 {
  margin: 129px 0 0 451px;
}

.u-section-7 .u-image-4 {
  width: 319px;
  height: 455px;
  margin: -62px auto 0 81px;
}

.u-section-7 .u-text-8 {
  line-height: 2;
  margin: -386px 0 0 451px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 78px;
}

.u-section-7 .u-image-5 {
  width: 319px;
  height: 455px;
  margin: 153px 584px 0 81px;
}

.u-section-7 .u-text-9 {
  margin: -378px 0 0 451px;
}

.u-section-7 .u-text-10 {
  line-height: 2;
  margin: 17px 0 0 451px;
}

.u-section-7 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: 0;
  top: 354px;
  right: auto;
  position: absolute;
}

.u-section-7 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: auto;
  top: 354px;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 251px;
  }

  .u-section-7 .u-image-1 {
    inset: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 251px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 251px;
  }

  .u-section-7 .u-image-2 {
    inset: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: 251px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 251px;
  }

  .u-section-7 .u-image-3 {
    inset: auto;
  }

  .u-section-7 .u-text-6 {
    margin-left: 251px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 251px;
  }

  .u-section-7 .u-image-4 {
    inset: auto;
  }

  .u-section-7 .u-text-8 {
    margin-left: 251px;
  }

  .u-section-7 .u-image-5 {
    inset: auto;
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 251px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 127px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 127px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 127px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 127px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 127px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 127px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 127px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-7 .u-image-5 {
    margin-right: 341px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 127px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 127px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    margin-right: 201px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    margin-left: 1px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 1px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 1px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 1px;
  }

  .u-section-7 .u-image-5 {
    margin-right: 1px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1261px;
  margin-bottom: 0;
}

.u-section-8 .u-gallery-1 {
  height: 1210px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-back-image-2 {
  object-position: 50% 99.26%;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-8 .u-gallery-1 {
    height: 998px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1962px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1911px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 5211px;
  }

  .u-section-8 .u-gallery-1 {
    height: 5160px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3300px;
  }

  .u-section-8 .u-gallery-1 {
    height: 3249px;
  }
}